html{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(#de791e,#5650de);
}

/* splash screen css starts here  */
#loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #e4ebf2 url("https://media.giphy.com/media/xTk9ZvMnbIiIew7IpW/giphy.gif") no-repeat center center;
    z-index: 99999;
}
/* splash screen css ends here  */

/* navbar css starts here  */
.bg-light{
    background-color: #3a3897!important;
}

.navbar-brand{
    font-family: 'Sansita Swashed', cursive;
    font-size: 1.5rem;
    color: #d2d8e0!important;
}

.nav-link{
    color: #b8c7db!important;
    font-family: 'Noto Sans JP', sans-serif;
    
}
.nav-link:hover{
        font-size: 20px;
        background-color: #D44638;
        
}


/* navbar css ends here  */

/* here content css starts here  */
.hero-content{
    height: 100vh;
    background: linear-gradient(#903775,#363553);
    color: #ffffff;
    padding: 3rem;
    border-bottom-left-radius: 45rem;
    border-bottom-right-radius: 45rem;
    margin-bottom: 1vh;
}

.hero-img{
    margin-top: 5%;
    height: 50vh;
    width: 40%;
    border-radius: 50%;

@media only screen and (max-width: 766px) {
    .hero-img {
      display: none;
    }
}
}

.get-started{
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 162%;
    background-color: #ffffff;
    color: #039be5!important;
    transition: 0.3s;
    
}

.get-started:hover{
    text-decoration: none;
    background-color: #dae08b;
    
    
}
/* here content css starts here  */

/* get-started-buttons css starts here*/
.get-started-content{
    height: 60vh;
    background-color: #ff8a65;
    border-top-left-radius: 42rem;
    border-top-right-radius: 42rem;
    border-bottom-right-radius: 42rem;
    border-bottom-left-radius: 42rem;
}

.get-started-content .row{
    padding: 25vh 0;
}

.get-started-content a{
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 162%;
    background-color: #039be5;
    color: #fff!important;
    transition: 0.3s;
}

.get-started-content a:hover{
    background-color: #017ab6;
    text-decoration: none;
}
/* get-started-buttons css end here*/

/* footer css starts here */
footer{
    background-color:  #7fb7e8;
    font-size: large;
    color: #0b0c0b;
}

.social-icons li{
    list-style: none;
    display: inline;
    padding: 0.5rem;
}

.github{
    color: #24292e;
}

.linkedin{
    color: #0077b5;
}

.google{
    color: #D44638;
}